Описание данных
user_data:

client – идентификатор пользователя
premium – является ли клиент премиум
age – возраст
logs:

client – идентификатор пользователя
success – результат (успех - 1, нет - 0)
platform – платформа
time – время в формате Unix

#### Задача: поанализировать датасет с историей покупок.

In [1]:
import pandas as pd

user_data = pd.read_csv('./datasets/KarpovCourses/3_user_data.csv')

logs = pd.read_csv('./datasets/KarpovCourses/3_logs.csv')

In [2]:
user_data.head()

   client  premium  age
0   46346    False   58
1    4391    False   55
2   27372    False   64
3   11989    False   44
4   60664    False   49

In [3]:
logs.head()

   client  success  platform        time
0   40177     True     phone  1585412212
1   61468     True     phone  1585425658
2   35604    False     phone  1585459894
3    9961     True     phone  1585400189
4   10931     True  computer  1585468629

#### Смотрю какие уникальных значения принимает переменная platform:

In [4]:
logs.platform.unique()

array(['phone', 'computer', 'tablet'], dtype=object)

#### Нахожу клиента (клиентов), совершившего(их) больше всего успешных операций:

In [5]:
step = logs.query('success == True') \
           .groupby('client', as_index=False) \
           .agg({'success': 'count'}) \
           .sort_values('success', ascending=False)

cli = step.query('success == 41').client.to_list()

result = ', '.join(map(str, sorted(cli)))

print(result)

12179, 28719, 36165, 52870, 61468, 61473, 78349, 82563, 92584

#### Нахожу платформу с наибольшим количеством количество успешных операций:

In [ ]:
logs.query('success == True') \
    .platform.value_counts()

#### Нахожу наиболее популярную платформу среди премиумных клиентов:

In [8]:
# Для решения этой задачи объединяю таблицы:

total = logs.merge(user_data, how='inner',on='client')

# Нахожу распределение количества успешных клиентов по платформам:

result = total.query('premium == True') \
              .platform.value_counts()
result

phone       246
computer    150
tablet       24
Name: platform, dtype: int64