#### Задача:

При тестировании гипотезы целевой группе предложена новая механика оплаты услуг на сайте, у контрольной группы остается базовая механика. Проанализировать результаты АБ-теста и сделать вывод о том, стоит о запускать новую механику оплаты на всех пользователей.

Данные:

groups - информация о принадлежности пользователя к контрольной группе или тестовой группе (А- контроль Б - тест);
add - файл.который присладаи по прошествии 2 дней после передачи данных;
active - данные пользователей, которые зашли на платформу в период проведения эксперимента;
checks - информация о платежах пользователей.

#### Алгоритм решения:

#### Импортирую библиотеки:

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import datetime
import scipy.stats
import matplotlib.pyplot as plt
%matplotlib inline

from tqdm.auto import tqdm

#### Загружаю информацию:

In [10]:
students = pd.read_csv('./datasets/2/active.csv', sep=';')

groups = pd.read_csv('./datasets/2/groups.csv', sep=';')

add = pd.read_csv('./datasets/2/add.csv',sep=',')

checks = pd.read_csv('./datasets/2/checks.csv', sep=';')

In [6]:
students.head(2)

   student_id
0      581585
1     5723133

In [7]:
groups.head(2)

     id grp
0  1489   B
1  1627   A

In [11]:
add.head(2)

        id grp
0  5694584   B
1  5694830   B

In [12]:
checks.head(2)

   student_id    rev
0        1627  990.0
1        3185  690.0